
<Card captionBar="@captionBar" stateChanged="(data) => {
    runtimeCustomPanel.PanelX = (int)data.X;
    runtimeCustomPanel.PanelY = (int)data.Y;
    runtimeCustomPanel.PanelWidth = (int)data.Width;
    runtimeCustomPanel.PanelHeight = (int)data.Height;
    saveAction();

}" 
    MinHeight="@runtimeCustomPanel.BasePanel.PanelMinHeight"
      MaxHeight="@runtimeCustomPanel.BasePanel.PanelMaxHeight"
      MinWidth="@runtimeCustomPanel.BasePanel.PanelMinWidth"
      MaxWidth="@runtimeCustomPanel.BasePanel.PanelMaxWidth"
      Width="@runtimeCustomPanel.PanelWidth"
      Height="@runtimeCustomPanel.PanelHeight"
      X="@runtimeCustomPanel.PanelX"
   Y="@runtimeCustomPanel.PanelY"
   panelHeader="@panelHeader"
   IsDraggable="@(panelHeader != null ? panelHeader.enabledrag : true)"
>
    @RenderInternals()
</Card>
@code {
    [Parameter]
    public Wallpaper.CommonLanguage.RuntimePanel runtimeCustomPanel { get; set; }

    public PanelHeader panelHeader => Home.panelHeaders.FirstOrDefault(x => x.persistentpanelid == runtimeCustomPanel.UniquePanelID);

    [Parameter]
    public Action saveAction { get; set; }

    [Parameter]
    public Action closeAction { get; set; }

    public void OnClose()
    {
        closeAction();
    }

    RenderFragment captionBar => @<div>
        <FluentButton IconEnd="@(new Icons.Regular.Size16.Dismiss())" @onclick="OnClose"
                      Title="Close panel" style=@(panelHeader != null ? (panelHeader.enableclose ? "" : "display: none;") : "") />

    </div>
    ;

    public RenderFragment RenderInternals()
    {
        if (runtimeCustomPanel == null)
        {
            return @<div>Panel is null</div>;
        }
        else
        {
            return @RenderInternals2();
        }

    }

   

    private RenderFragment RenderInternals2()
    {
        //Console.WriteLine(runtimeCustomPanel.PanelType);
        switch (runtimeCustomPanel.BasePanel.PanelType)
        {
            case "System":
                var guid = Guid.NewGuid().ToString();
                return @<div>@(new MarkupString(runtimeCustomPanel.BasePanel.PanelContent))</div>;
            case "Embedded":
                return@<iframe sandbox="allow-storage-access-by-user-activation allow-presentation allow-pointer-lock allow-modals allow-scripts allow-forms" class="h-full w-full" src="@runtimeCustomPanel.BasePanel.PanelContent"></iframe>;
                case "Image":
                return @<img src="@runtimeCustomPanel.BasePanel.PanelContent" class="h-full w-full" />;
                case "Video":
                return @<video autoplay loop class="h-full w-full"><source src="@runtimeCustomPanel.BasePanel.PanelContent" type="video/mp4" /></video>;
                case "Audio":
                return @<audio autoplay loop class="h-full w-full"><source src="@runtimeCustomPanel.BasePanel.PanelContent" type="audio/mpeg" /></audio>;
            default:
                return @<div>Unknown</div>;
        }
    }
}
