@using System.Text.Json

<FluentTooltip Anchor="infoTooltip" Position=TooltipPosition.End> These are the backgrounds from your installed addons.</FluentTooltip>

<div class="h-8"></div>
<div style="
                font-size: 26px;
                font-weight: 600;
                        ">
    Backgrounds
</div>

<div class="w-[150px] h-[120px] border-8 border-black">
    @*Preview*@
</div>

<div class="h-4"></div>

<div id="expander" class="@(recentBackgroundsOpen ? "bg-white/[.08]" : "bg-white/[.05]") @("hover:bg-white/[.08]") @(recentBackgroundsOpen ? "active:bg-white/[.09]" : "active:bg-white/[.05]") @(recentBackgroundsOpen ? "rounded-t-lg" : "rounded") mb-[2px] flex h-14 w-full flex-row rounded-t-lg p-3.5 text-base transition duration-100 hover:shadow-[0_0px_0px_1px_rgba(255,255,255,0.1)]"
     @onclick="@(async () => {
        recentBackgroundsOpen = !recentBackgroundsOpen;
        //await JS.InvokeVoidAsync("testanimation");
    })">
    <div class="flex h-full w-full flex-col justify-center">
        Recent backgrounds
    </div>
    <div class="flex flex-col items-end justify-center pr-2">
        <div class="@(recentBackgroundsOpen ? "rotate-0" : "rotate-180") transition-all duration-150 ease-in-out">
            <FluentIcon Value="@(new Icons.Regular.Size20.ChevronUp())" Color="@Color.Neutral" />
        </div>
    </div>
</div>
<div id="contentdiv" class="@(recentBackgroundsOpen ? "opacity-100 duration-200 max-h-max" : "max-h-0 opacity-0 delay-0 duration-0") w-full overflow-visible transition-cardexpand ease-in-out">
    <div class="bg-white/[.08] mb-[2px] flex h-max min-h-8 w-full flex-row flex-wrap gap-2 p-4" >
        <div class="hover:bg-white/[.08] active:bg-white/[.05] transition-all duration-150 ease-in-out cursor-pointer border-2 flex h-24 w-24 flex-col items-center justify-center rounded border-white" @onclick="@(async () => {
        var req = App.Instance.controlPort;
                    var res = new UriBuilder(
                        new Uri("http://127.0.0.1:" + req + "/simplebackground")
                    );
                    res.Query = "resultfilename=" + Guid.NewGuid().ToString();
                    var result = await client.PostAsync(res.Uri, null);
                    var data = await result.Content.ReadAsStringAsync();

                    var decoded = SimpleBackgroundResponse.FromJsonElement(JsonSerializer.Deserialize<JsonElement>(data)!);
                    switch (decoded.Status) {
                        case "cancelled":
                            return;
                        case "errorprestart":
                            encodingErrorInPrestart = true;
                            encodingError = true;
                            error = decoded.Error;
                            showEncodingDialog = true;
                            break;
                        case "encoding":
                        cancelEncoding = false;
                            resultFile = decoded.ResultFile;
                            encodingID = decoded.EncodingGUID;
                            encodingError = false;
                            encodingErrorInPrestart = false;
                            showEncodingDialog = true;
                            break;
                    }
                    res = new UriBuilder(
                        new Uri("http://127.0.0.1:" + req + "/getencodingstatus")
                    );
                    res.Query = "guid=" + encodingID;
                    StateHasChanged();
                    HttpResponseMessage? result2 = null;
                    while (result2 == null) {
                        try {
                            result2 = await client.GetAsync(res.Uri);
                        } catch (Exception) {
                            await Task.Delay(1000);
                            continue;
                        }
                    }
                    var data2 = await result2.Content.ReadAsStringAsync();
                    var decoded2 = EncodingStatus.FromJsonElement(JsonSerializer.Deserialize<JsonElement>(data2)!);
                    switch (decoded2.Status) {
                        case "askuser":
                            showAskMediaTypeDialog = true;
                            showEncodingDialog = false;
                            break;
                        case "done":
                            App.Instance.preferencesManager.Remove("simplebackground");
                            App.Instance.preferencesManager.Set("simplebackground", resultFile);
                            showEncodingDialog = false;
                            break;
                        default:
                            if (cancelEncoding) {
                                cancelEncoding = false;
                                return;
                            }
                            encodingError  = true;
                            error = decoded2.Status;
                            showEncodingDialog = true;
                            encodingErrorInPrestart = false;
                            break;
                    }
                    StateHasChanged();
    })">
            <FluentIcon Value="@(new Icons.Regular.Size24.Add())" Color="@Color.Neutral" />
        </div>
        @foreach (var bkg in recentBackgrounds())
        {
            var guid = Guid.NewGuid().ToString();
            <div class="hover:bg-white/[.08] active:bg-white/[.05] transition-all duration-150 ease-in-out cursor-pointer flex h-24 w-24 flex-col items-center justify-center rounded overflow-hidden border-transparent border-2 hover:border-white" @onclick="@(async () => {
                    App.Instance.preferencesManager.Set("simplebackground", "");
                    var req = App.Instance.controlPort;
                    var res = new UriBuilder(
                        new Uri("http://127.0.0.1:" + req + "/setbackgroundfromcache")
                    );
                    
                    res.Query = "filename=" + bkg.Value.Filename;
                    var result = await client.GetAsync(res.Uri);
            })">
                @if (bkg.Value.Filename.EndsWith(".png"))
                {
                    <img src="http://127.0.0.1:@(App.Instance.controlPort)/getpreviewfile?filename=@(bkg.Value.Filename)" class="w-full h-full object-cover rounded" />
                } else if (bkg.Value.Filename.EndsWith(".webm"))
                {
                    <div class="h-full w-full">
                            <video style="
                                                object-fit: cover;
                                            " id="@guid" class="pointer-events-none h-full w-full rounded">
                            <source src="http://127.0.0.1:@(App.Instance.controlPort)/getpreviewfile?filename=@(bkg.Value.Filename)" type="video/webm" />
                            </video>
                            <script id="@(guid + "_helper")">
                            var video = document.getElementById(document.currentScript.id.replaceAll("_helper",""))
                                video.muted = true;
                                video.loop = true;
                                video.play();
                                console.log(video)
                            </script>
                        </div>;
                }
            </div>
        }
    </div>
    <div class="bg-white/[.08] mb-[2px] h-12 w-full p-3.5 text-base" style="font-weight: 400; display: flex; flex-direction: row; gap: 10px; align-items: center;">
        From addons
    </div>
    <div class="bg-white/[.08] mb-[2px] flex h-max min-h-8 w-full flex-row flex-wrap gap-2 rounded-b-lg p-4">
        <div class="border-2 flex h-24 w-24 flex-col items-center justify-center rounded border-white">
            <FluentIcon Value="@(new Icons.Regular.Size24.Add())" Color="@Color.Neutral" />
        </div>
    </div>
</div>


@* OLD *@

<div class="h-4"></div>
<div>Persistent ID: @Home.currentBackground</div>

<!-- TODO: image carousel thingy here https://imgur.com/inEXZYt -->


<div class="card flex flex-row items-center justify-center">
    <FluentButton @onclick="@(async() => {
                    var req = App.Instance.controlPort;

                    var res = new UriBuilder(
                        new Uri("http://127.0.0.1:" + req + "/simplebackground")
                    );
                    var result = await client.PostAsync(res.Uri, null);
                    var data = await result.Content.ReadAsStringAsync();

                    var decoded = SimpleBackgroundResponse.FromJsonElement(JsonSerializer.Deserialize<JsonElement>(data)!);
                    switch (decoded.Status) {
                        case "cancelled":
                            return;
                        case "errorprestart":
                            encodingErrorInPrestart = true;
                            encodingError = true;
                            error = decoded.Error;
                            showEncodingDialog = true;
                            break;
                        case "encoding":
                        cancelEncoding = false;
                            resultFile = decoded.ResultFile;
                            encodingID = decoded.EncodingGUID;
                            encodingError = false;
                            encodingErrorInPrestart = false;
                            showEncodingDialog = true;
                            break;
                    }
                    res = new UriBuilder(
                        new Uri("http://127.0.0.1:" + req + "/getencodingstatus")
                    );
                    res.Query = "guid=" + encodingID;
                    StateHasChanged();
                    HttpResponseMessage? result2 = null;
                    while (result2 == null) {
                        try {
                            result2 = await client.GetAsync(res.Uri);
                        } catch (Exception) {
                            await Task.Delay(1000);
                            continue;
                        }
                    }
                    var data2 = await result2.Content.ReadAsStringAsync();
                    var decoded2 = EncodingStatus.FromJsonElement(JsonSerializer.Deserialize<JsonElement>(data2)!);
                    switch (decoded2.Status) {
                        case "askuser":
                            showAskMediaTypeDialog = true;
                            showEncodingDialog = false;
                            break;
                        case "done":
                            App.Instance.preferencesManager.Remove("simplebackground");
                            App.Instance.preferencesManager.Set("simplebackground", resultFile);
                            showEncodingDialog = false;
                            break;
                        default:
                            if (cancelEncoding) {
                                cancelEncoding = false;
                                return;
                            }
                            encodingError  = true;
                            error = decoded2.Status;
                            showEncodingDialog = true;
                            encodingErrorInPrestart = false;
                            break;
                    }
                    StateHasChanged();


                })">
        <FluentIcon Value="@(new Icons.Regular.Size20.Add())" Slot="start" Color="Color.Neutral"></FluentIcon>
        Set Simple Background
    </FluentButton>
    <div class="w-4"></div>
    <FluentButton @onclick="@(async() => {
                    var req = App.Instance.controlPort;

                    var res = new UriBuilder(
                        new Uri("http://127.0.0.1:" + req + "/simplebackground?delete=true")
                    );
                    var result = await client.GetAsync(res.Uri);

                })">
        <FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Slot="start" Color="Color.Neutral"></FluentIcon>
        Remove Simple Background
    </FluentButton>
</div>

<div class="h-8"></div>
<div style="font-size: 20px; font-weight: 500; display: flex; flex-direction: row; gap: 10px; align-items: center;">
    Available Backgrounds <FluentIcon Id="infoTooltip" Value="@(new Icons.Regular.Size16.Info())" />
</div>
<div class="h-4"></div>
<FluentAccordion>

    @foreach (var item in Home.availableBackgrounds)
    {
        <FluentAccordionItem Heading="@item.LoaderBackgroundID" Style="
                        padding: 10px;
                                            ">
            <FluentIcon Value="@(new Icons.Regular.Size24.Wallpaper())" Color="@Color.Neutral" Slot="start" />

            <div>Background ID: @item.LoaderBackgroundID</div>
            <div>Background Type: @item.BackgroundType</div>

            <div>Background Control Port (websocket): @item.ControlPort</div>

            <div class="h-4"></div>
            <div class="card flex flex-row items-center" style="padding-left: 16px; overflow: overlay;">
                <div style="min-width: max-content" class="flex flex-row">
                    <FluentButton Appearance="Appearance.Neutral" @onclick="@(async () => {
                                    var req = App.Instance.controlPort;
                                    var res = new UriBuilder(
                                        new Uri("http://127.0.0.1:" + req + "/simplebackground?delete=true")
                                    );
                                    var result = await client.GetAsync(res.Uri);
                                    Home.Instance.SetBackground(item.LoaderBackgroundID);
                            })">
                        <FluentIcon Value="@(new Icons.Regular.Size20.Checkmark())" Slot="start" Color="Color.Neutral"></FluentIcon>
                        Set as Background
                    </FluentButton>
                </div>
            </div>


        </FluentAccordionItem>
    }
</FluentAccordion>
<div class="h-8"></div>
<div style="
                font-size: 20px;
                font-weight: 500;
                                ">
    Last active Backgrounds
</div>
<div class="h-4"></div>
<FluentAccordion>

    @foreach (var item in Home.backgrounds)
    {
        <FluentAccordionItem Heading="@item.LoaderBackgroundID" Style="
                        padding: 10px;
                                                    ">
            <FluentIcon Value="@(new Icons.Regular.Size24.Wallpaper())" Color="@Color.Neutral" Slot="start" />

            <div>Background ID: @item.LoaderBackgroundID</div>
            <div>Background Type: @item.BackgroundType</div>
            <div>Persistent Background ID: @item.PersistentBackgroundID</div>

            <div>Added by: @item.ClientID</div>
            <div>Background Content: @item.BackgroundContent</div>
            <div>Background Control Port (websocket): @item.ControlPort</div>
            <div class="h-4"></div>
            <div class="card flex flex-row items-center" style="padding-left: 16px; overflow: overlay;">
                <div style="min-width: max-content" class="flex flex-row">
                    <FluentButton Appearance="Appearance.Neutral" @onclick="@(async () => {
                                    var req = App.Instance.controlPort;
                                    var res = new UriBuilder(
                                        new Uri("http://127.0.0.1:" + req + "/simplebackground?delete=true")
                                    );
                                    var result = await client.GetAsync(res.Uri);
                                    Home.Instance.SetBackground(item.LoaderBackgroundID);
                            })">
                        <FluentIcon Value="@(new Icons.Regular.Size20.Checkmark())" Slot="start" Color="Color.Neutral"></FluentIcon>
                        Set as Background
                    </FluentButton>
                </div>
            </div>


        </FluentAccordionItem>
    }
</FluentAccordion>
<div class="card2 absolute left-0 top-0 h-full w-full flex-col items-center justify-center"
     style="
        display: @(showEncodingDialog ? "flex" : "none");
    ">
    <div class="m-8 bg-neutral-700 p-8" style="
        border-radius: 12px;
    ">
        <div style="
                font-size: 26px;
                font-weight: 600;
                            ">
            @(encodingError ? "Error" : "Converting media.")
        </div>
        <div class="h-8"></div>
        @(encodingError ? error : "Before setting this file as a wallpaper, the file needs to be converted in order to be able to be set as a wallpaper. So please wait while we convert your files. If you're on battery power, please plug in your device to wall power now.")
        <div class="h-8"></div>
        <FluentProgress Indeterminate="true"></FluentProgress>
        <div class="h-8"></div>
        <div class="flex w-full flex-row items-end justify-end">
            <FluentButton Appearance="Appearance.Stealth" @onclick="@(async () => {
                showEncodingDialog=false;
                cancelEncoding = true;
                if (!encodingError) {
                    var req = App.Instance.controlPort;
                    var res = new UriBuilder(
                            new Uri("http://127.0.0.1:" + req + "/getencodingstatus")
                        );
                    res.Query = "guid=" + encodingID + "&action=stop";
                    var result2 = await client.PostAsync(res.Uri, new StringContent(""));
                    var data2 = await result2.Content.ReadAsStringAsync();
                }

                StateHasChanged();

            })">
                Cancel
            </FluentButton>
        </div>
    </div>
</div>
<div class="card2 absolute left-0 top-0 h-full w-full flex-col items-center justify-center"
     style="
        display: @(showAskMediaTypeDialog ? "flex" : "none");
    ">
    <div class="m-8 bg-neutral-700 p-8" style="
        border-radius: 12px;
    ">
        <div style="
                font-size: 26px;
                font-weight: 600;
                            ">
            Specify media type
        </div>
        <div class="h-8"></div>
        The files media type seems to be unidentifiable by the system. Please select the media type below.
        <div class="h-8"></div>
        <div class="flex w-full flex-row items-center justify-center">
            <FluentButton Appearance="Appearance.Stealth" @onclick="@(async () => {
                    showAskMediaTypeDialog = false;
                    showEncodingDialog = true;
                    var req = App.Instance.controlPort;
                    var res = new UriBuilder(
                            new Uri("http://127.0.0.1:" + req + "/getencodingstatus")
                        );
                    res.Query = "guid=" + encodingID + "&action=Video";
                    var result2 = await client.PostAsync(res.Uri, new StringContent(""));
                    var data2 = await result2.Content.ReadAsStringAsync();
                    res.Query = "guid=" + encodingID + "&action=status";
                    resultFile = await client.GetStringAsync(res.Uri);
                    res.Query = "guid=" + encodingID;
                    result2 = null;
                    while (result2 == null) {
                        try {
                            result2 = await client.GetAsync(res.Uri);
                        } catch (Exception) {
                            await Task.Delay(1000);
                            continue;
                        }
                    }
                    data2 = await result2.Content.ReadAsStringAsync();
                    var decoded2 = EncodingStatus.FromJsonElement(JsonSerializer.Deserialize<JsonElement>(data2)!);
                    switch (decoded2.Status) {
                        case "done":
                            App.Instance.preferencesManager.Remove("simplebackground");
                            App.Instance.preferencesManager.Set("simplebackground", resultFile);
                            showEncodingDialog = false;
                            break;
                        default:
                        if (cancelEncoding) {
                                cancelEncoding = false;
                                return;
                            }
                            encodingError  = true;
                            error = decoded2.Status;
                            showEncodingDialog = true;
                            encodingErrorInPrestart = false;
                            break;
                    }
                    StateHasChanged();
            })" Class="w-full h-full min-h-20" Style="height: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size20.Video())" Slot="start" Color="Color.Neutral"></FluentIcon>
                Video
            </FluentButton>
            <div class="min-h-20 w-4"></div>
            <FluentButton Appearance="Appearance.Stealth" @onclick="@(async () => {
                    showAskMediaTypeDialog = false;
                    showEncodingDialog = true;
                    var req = App.Instance.controlPort;
                    var res = new UriBuilder(
                            new Uri("http://127.0.0.1:" + req + "/getencodingstatus")
                        );
                    res.Query = "guid=" + encodingID + "&action=Image";
                    var result2 = await client.PostAsync(res.Uri, new StringContent(""));
                    var data2 = await result2.Content.ReadAsStringAsync();
                    res.Query = "guid=" + encodingID + "&action=status";
                    resultFile = await client.GetStringAsync(res.Uri);
                    res.Query = "guid=" + encodingID;
                    result2 = null;
                    while (result2 == null) {
                        try {
                            result2 = await client.GetAsync(res.Uri);
                        } catch (Exception) {
                            await Task.Delay(1000);
                            continue;
                        }
                    }
                    data2 = await result2.Content.ReadAsStringAsync();
                    var decoded2 = EncodingStatus.FromJsonElement(JsonSerializer.Deserialize<JsonElement>(data2)!);

                    switch (decoded2.Status) {
                        case "done":
                            App.Instance.preferencesManager.Remove("simplebackground");
                            App.Instance.preferencesManager.Set("simplebackground", resultFile);
                            showEncodingDialog = false;
                            break;
                        default:
                        if (cancelEncoding) {
                                cancelEncoding = false;
                                return;
                            }
                            encodingError  = true;
                            error = decoded2.Status;
                            showEncodingDialog = true;
                            encodingErrorInPrestart = false;
                            break;
                    }
                    StateHasChanged();
            })" Class="w-full h-full min-h-20" Style="height: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size20.Image())" Slot="start" Color="Color.Neutral"></FluentIcon>
                Image
            </FluentButton>
        </div>
        <div class="h-8"></div>
        <div class="flex w-full flex-row items-end justify-end">
            <FluentButton Appearance="Appearance.Stealth" @onclick="@(async () => {
                    showAskMediaTypeDialog = false;
                    showEncodingDialog = false;
                    var req = App.Instance.controlPort;
                    var res = new UriBuilder(
                            new Uri("http://127.0.0.1:" + req + "/getencodingstatus")
                        );
                    res.Query = "guid=" + encodingID + "&action=cancel";
                    var result2 = await client.PostAsync(res.Uri, new StringContent(""));
                    var data2 = await result2.Content.ReadAsStringAsync();

                    StateHasChanged();
            })">
                Cancel
            </FluentButton>

        </div>
    </div>
</div>



@inject IHttpClientFactory hcf
@inject IDialogService DialogService
@inject IJSRuntime JS
@code {
    private HttpClient client = null;
    public static Backgrounds Instance = null;
    private bool showEncodingDialog = false;
    private bool showAskMediaTypeDialog = false;
    private string encodingID = "";
    private string error = "";
    private string resultFile = "";
    private bool encodingError = false;
    private bool cancelEncoding = false;
    private bool encodingErrorInPrestart = false;
    private bool recentBackgroundsOpen = false;

    private Dictionary<string,RecentBackground> recentBackgrounds()
    {
        if (App.Instance.preferencesManager.GetPreferences().TryGetValue("recentbackgrounds", out var bkgs))
        {
            JsonElement elem = bkgs;
            return elem.EnumerateObject()
            .Select(x => new KeyValuePair<string, RecentBackground>(x.Name,RecentBackground.FromJsonElement(x.Value)))
            .ToDictionary(x => x.Key, x => x.Value);
        } else
        {
            return [];
        }
    }

    protected override void OnInitialized()
    {
        Instance = this;
        client = hcf.CreateClient();
        client.Timeout = Timeout.InfiniteTimeSpan;
    }

    public void Refresh()
    {
        StateHasChanged();
    }

    private void OnDismiss()
    { }
}
